/* basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  flex: display;
}

h1 {
    background-color: blue;
    color: white;
    padding: 5%;
}

.card-center {
    background-color: rgb(125, 132, 205);
}

.card-element {
    display: inline-flex;
    flex-direction: row;
}

.card {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}

.parent {
    display:flex;
}

.search {
    margin: 9px;
    min-width: 250px;
}


