/* basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  flex: display;
}

h1 {
    background-color: blue;
    color: white;
    padding: 5%;
}

.card-center {
    background-color: rgb(125, 132, 205);
}

.card-element {
    display: inline-flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

